*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    /* background-color: rgb(238, 243, 243); */
    height: 9.5rem;
    border-bottom: 1px solid rgb(0, 0, 0,0.1);
}
.nav1{
    background-color: black;
    display: flex;
    height: 25%;
    color: white;
    padding-right: 4rem;
    font-size: 0.7rem;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.vl{
    width: 0;
    height: 60%;
    border-left: 1px solid rgb(233, 230, 230,0.6);
    margin: 0 0.5rem;
}

.nav2{
    height: 75%;
    /* background-color: aqua; */

}
.nav2 .sub1{
height: 65%;
/* background-color: aquamarine; */
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 0 3rem;
align-items: center;
}

.nav2 .sub2{
    height: 35%;
    background-color: black;
}