*{
    margin: 0;
    padding: 0 1rem;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.navbar{
    /* background-color: aqua; */
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1400px;
    height: 3.75rem;
}
.section1{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(200, 57, 57); */
    flex-wrap: wrap;
    /* padding-left: 2rem; */
   
}
.section1  a{
    text-decoration: none;
    color: #000;
    
}


.section2 img{
    height: 2rem;
}

.section3{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(200, 57, 57); */
    flex-wrap: wrap;
    padding-right: 2rem;
}

.section3  a{
    text-decoration: none;
    color: #000;
}
/* #style:hover {
   
}
.style:hover{
    opacity: 1;
   }
.style{
    opacity: 0;
    display: block;
    border-top: 1px solid red;
    width: 6rem;
    background-color: aqua;
    margin-right: 1rem;
}

.style ul li{
    text-align: center;
    font-weight: 400;
    margin: 0.45rem;
} */
.nav2 {
    border-bottom: 1px solid rgb(0, 0, 0,0.1);
}
.nav2 .title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
}
a, i{
    opacity: 0.7;
    cursor: pointer;
}
a:hover ,i:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.2s linear;
}
.main-content{
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 8rem 2rem 0;
    padding: 0 0 0 8rem;
}
.card{
    border-radius: 1rem;
    height: 30rem;
    margin: 4rem 3rem;
    width: 25rem;
    /* background-color: aqua; */
    opacity: 0.9;
}
.card:hover{
    opacity: 1;
    transition: all 0.18s linear;
}
.card a{
    text-decoration: none;
    color: black;
}
.card .card-title{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
}
.card .card-title:hover{
    color: red;
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.15s linear;
}
/* #card2 .card-title{
    font-size: 1.5rem;
} */
.card img{
    border-radius: 1rem;
    width: 100%;
    cursor: pointer;
}

.card .card-info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.card .card-comment{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
}

button{
    margin: 2rem;
    align-self: center;
    text-align: center;
    margin-left: 35rem;
    height: 2rem;
    width: 12rem;
    font-size: 1rem;
    font-weight: 100;
    cursor: pointer;
    border: 0.1rem solid rgb(255, 0, 0,0.5);
}

button:hover{
    background-color: rgb(255, 0, 0,0.8) ;
    color: white;
    opacity: 1;
}

.footer{
    height: 5rem;
    border-top: 1px solid rgb(6, 6, 6,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer i{
    font-size: 1.75rem;
    margin-left: 2rem;
    color: red;
}